## Workshop Week 6

- Student ID **46461019**
- Student Name **Nathan Ho**

## Logistic Regression
Breast Cancer data from [the UCI repository](http://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29) contains records corresponding to 
cases of observed tumors.   There are a number of observations for each and a categorisation in the `class` column: 2 for benign (good), 4 for malignant (bad).  Your task is to build a logistic regression model to classify these cases. 

The data is provided as a CSV file.  There are a small number of cases where no value is available, these are indicated in the data with `?`. I have used the `na_values` keyword for `read_csv` to have these interpreted as `NaN` (Not a Number).  Your first task is to decide what to do with these rows. You could just drop these rows or you could [impute them from the other data](http://scikit-learn.org/stable/modules/preprocessing.html#imputation-of-missing-values).

You then need to follow the procedure outlined in the lecture for generating a train/test set, building and evaluating a model. Your goal is to build the best model possible over this data.   Your first step should be to build a logistic regression model using all of the features that are available.

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.feature_selection import RFE
from sklearn.impute import SimpleImputer

In [34]:
bcancer = pd.read_csv("files/breast-cancer-wisconsin.csv", na_values="?")
bcancer.head(50)
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(bcancer[['bare_nuclei']])
SimpleImputer()
bcancer[['bare_nuclei']] = imp.transform(bcancer[['bare_nuclei']])
bcancer.head(50)

,sample_code_number,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1.000000,3,1,1,2
1,1002945,5,4,4,5,7,10.000000,3,2,1,2
2,1015425,3,1,1,1,2,2.000000,3,1,1,2
3,1016277,6,8,8,1,3,4.000000,3,7,1,2
4,1017023,4,1,1,3,2,1.000000,3,1,1,2
5,1017122,8,10,10,8,7,10.000000,9,7,1,4
6,1018099,1,1,1,1,2,10.000000,3,1,1,2
7,1018561,2,1,2,1,2,1.000000,3,1,1,2
8,1033078,2,1,1,1,2,1.000000,1,1,5,2
9,1033078,4,2,1,1,2,1.000000,2,1,1,2
10,1035283,1,1,1,1,1,1.000000,3,1,1,2
11,1036172,2,1,1,1,2,1.000000,2,1,1,2
12,1041801,5,3,3,3,2,3.000000,4,4,1,4
13,1043999,1,1,1,1,2,3.000000,3,1,1,2
14,1044572,8,7,5,10,7,9.000000,5,5,4,4
15,1047630,7,4,6,4,6,1.000000,4,3,1,4
16,1048672,4,1,1,1,2,1.000000,2,1,1,2
17,1049815,4,1,1,1,2,1.000000,3,1,1,2
18,1050670,10,7,7,6,4,10.000000,4,1,2,4
19,1050718,6,1,1,1,2,1.000000,3,1,1,2
20,1054590,7,3,2,10,5,10.000000,5,4,4,4
21,1054593,10,5,5,3,6,7.000000,7,10,1,4
22,1056784,3,1,1,1,2,1.000000,2,1,1,2
23,1057013,8,4,5,1,2,3.544656,7,3,1,4
24,1059552,1,1,1,1,2,1.000000,3,1,1,2
25,1065726,5,2,3,4,2,7.000000,3,6,1,4
26,1066373,3,2,1,1,1,1.000000,2,1,1,2
27,1066979,5,1,1,1,2,1.000000,2,1,1,2
28,1067444,2,1,1,1,2,1.000000,2,1,1,2
29,1070935,1,1,3,1,2,1.000000,1,1,1,2
30,1070935,3,1,1,1,1,1.000000,2,1,1,2
31,1071760,2,1,1,1,2,1.000000,3,1,1,2
32,1072179,10,7,7,3,8,5.000000,7,4,3,4
33,1074610,2,1,1,2,2,1.000000,3,1,1,2
34,1075123,3,1,2,1,2,1.000000,2,1,1,2
35,1079304,2,1,1,1,2,1.000000,2,1,1,2
36,1080185,10,10,10,8,6,1.000000,8,9,1,4
37,1081791,6,2,1,1,1,1.000000,7,1,1,2
38,1084584,5,4,4,9,2,10.000000,5,6,1,4
39,1091262,2,5,3,3,6,7.000000,7,5,1,4
40,1096800,6,6,6,9,6,3.544656,7,8,1,2
41,1099510,10,4,3,1,3,3.000000,6,5,2,4
42,1100524,6,10,10,2,8,10.000000,7,3,3,4
43,1102573,5,6,5,6,10,1.000000,3,1,1,4
44,1103608,10,10,10,4,8,1.000000,8,10,1,4
45,1103722,1,1,1,1,2,1.000000,2,1,2,2
46,1105257,3,7,7,4,4,9.000000,4,8,1,4
47,1105524,1,1,1,1,2,1.000000,2,1,1,2
48,1106095,4,1,1,3,2,1.000000,3,1,1,2
49,1106829,7,8,7,2,4,8.000000,3,8,2,4

In [ ]:
# Examine the data: check number of rows and number of columns

In [ ]:
# Look at the statistical summary of the dataframe

In [ ]:
# Check how many classes we do have from the "class" column

In [ ]:
# Check number of samples for each class and comment whether dataset is balanced?

In [ ]:
# Deal with the NaN values in the data

In [ ]:
# Split your data into training(80%) and testing data (20%) and use random_state=142

In [ ]:
# Build your Logistic Regression model

In [ ]:
# Do predictions on test set

### Evaluation

To evaluate a classification model we want to look at how many cases were correctly classified and how many
were in error.  In this case we have two outcomes - benign and malignant.   SKlearn has some useful tools, the 
[accuracy_score]() function gives a score from 0-1 for the proportion correct.  The 
[confusion_matrix](http://scikit-learn.org/stable/modules/model_evaluation.html#confusion-matrix) function 
shows how many were classified correctly and what errors were made.  Use these to summarise the performance of 
your model (these functions have already been imported above).

In [ ]:
# Evaluate the performance of your trained model

**This is the checkpoint mark for this week's workshop. You need to report `Accuracy Score` on test set and also show `confusion matrix`. You also need to provide analysis based on the results you got.**

### Feature Selection

Since you have many features available, one part of building the best model will be to select which features to use as input to the classifier. Your initial model used all of the features but it is possible that a better model can 
be built by leaving some of them out.   Test this by building a few models with subsets of the features - how do your models perform? 

This process can be automated.  The [sklearn RFE function](http://scikit-learn.org/stable/modules/feature_selection.html#recursive-feature-elimination) implements __Recursive Feature Estimation__ which removes 
features one by one, evaluating the model each time and selecting the best model for a target number of features.  Use RFE to select features for a model with 3, 4 and 5 features - can you build a model that is as good or better than your initial model?

## Conclusion

Write a brief conclusion to your experiment.  You might comment on the proportion of __false positive__ and __false negative__ classifications your model makes.  How useful would this model be in a clinical diagnostic setting?

## Commit your finished work on Github
Here are the list of steps you need to follow to commit your work on Github to get checkpoint mark for this week.

Once you finished all the above questions, save the notebook by clicking 'save' button in the toolbar.

You need to follow the same instructions to commit your work on your Github repository.

Step 1. Change your current directory to `practical-workshops-yourName` by doing `cd` command. You can type:
                    `cd practical-workshops-yourName`
                    
Step 2: Add your Workshop Week 6.ipynb using:
                 `git add "Workshop Week 6.ipynb`
                 
Step 3: Commit your work:
                `git commit -m "Finished Workshop 6`
                
Step 4: Push your changes:
                `git push origin master`
                
Step 5: Confirm whether your finished work is now on Github repository by signing into your Github account and clicking on your repository. You can see your added `Workshop Week 6.ipynb` file as well as your `commit message` and `time` of your commit.

Step 6: Well done!. You have now finished your Practical Workshop Week 6. Appreciate yourself.